doctype html
html
  include head.pug
  body
    h1
      a(href='/') /
    h2
      a(href=`/${repo}`)= repo
    a(href=`/${repo}/files`) files
    span &nbsp;&middot;&nbsp;
    a(href=`/-/api/${repo}/get/${file}?raw=true`) raw
    pre= content
