doctype html
html
  include head.pug
  body
    h1
      a(href='/') GWN
    h2
      a(href=`/${repo}`)= repo
    a(href=`/${repo}/files`) files
    span &nbsp;&middot;&nbsp;
    a(href=`/-/api/${repo}.zip`) zip
    ul
      each c in commits
        li
          a(href=`/${repo}/commit/${c.hash}`)= c.message
          span  &mdash; #{c.author} &mdash; #{new Date(c.date).toLocaleString()}
